
/* app/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbar for the dark theme */
html {
  scrollbar-color: #30363D #0D1117;
}

/* For Webkit browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: #30363D;
  border-radius: 4px;
}
::-webkit-scrollbar-track {
  background-color: #0D1117;
}
